.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: minmax(0, 1fr);
  background-color: black;
  border-color: white;
  border-radius: 1px;
  gap: 1px;
  height: 500px;
  width: 500px;
}

.Finished {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  color: black;
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 40px;
}

.Finished h3 {
  margin: 0 0 8px;
}

.Finished button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #282c34;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
